#PointButton {
    margin-top: -265px;
    margin-left: 520px; /* Adjust the top margin to create space between canvas and button */
    display: block; /* Make the button a block-level element to position it below the canvas */
}
#TriangleButton {
    margin-top: 5px; /* Adjust the top margin to create space between canvas and button */
    margin-left: 520px;
    display: block/* Make the button a block-level element to position it below the canvas */
}
#CircleButton {
    margin-top: 5px; /* Adjust the top margin to create space between canvas and button */
    margin-left: 520px;
    display: block; /* Make the button a block-level element to position it below the canvas */
}
#ClearMenu {
    margin-top: 5px; /* Adjust the top margin to create space between canvas and button */
    display: block; /* Make the button a block-level element to position it below the canvas */
}
#ClearButton {
    margin-top: 5px; /* Adjust the top margin to create space between canvas and button */
    display: block; /* Make the button a block-level element to position it below the canvas */
}